ion-content{
    --ion-background-color: #1b3964;
}

.logo{
    display:block;
    margin:auto;
}

.header-color{
    --background: #f4d139;
}

ion-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.example-card {
    display: block;
    margin: 5%;
  }

