<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class>
    <img class="logo" src="../../assets/RegistrAPP.png" alt="">
  </div>

  <mat-spinner class="spinner" id ="spinner"></mat-spinner>
  <h4 class="loading" id="texto">Cargando cámara...</h4>
  <img id="camara" class="displayNone" src="{{imgURL}}" alt="imagen de la cámara" onerror="this.onerror=null;this.src='../../assets/cameraProblem.png'">
  <div>
    <ion-button color="warning" expand="block" (click)="getFromCamera()">
      <h4 class="salir">
        E S C A N E A R
      </h4>
    </ion-button>
  </div>
</ion-content>