ion-content {
  --ion-background-color: #1b3964;
}

.header-color {
  --background: #f4d139;
}

.logo {
  display: block;
  margin: auto;
}

.dash-option {
  color: #f4d139;
  padding-top: 10%;
  padding-bottom: 10%;
}

.texto-bienvenida {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: white;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

.text-option {
  padding-left: 5%;
}

ion-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
ion-item {
  --background: rgba(255, 255, 255, 0);
  text-align: center;
}
.salir{
  color :white;
  box-shadow: black;
  font-weight: 600;
}
