
<ion-header>
  <ion-toolbar class="header-color">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class>
    <img class="logo" src="../../assets/RegistrAPP.png" alt="">
  </div>

  <div>
    <h4 class="texto-bienvenida" id="bienvenida">
      ¡BIENVENIDO, {{data.nombre_usuario}}!
    </h4>
  </div>
  <div>
    <ion-item mode="ios" class="dash-option" [routerLink]="['/scan-qr']">
      <ion-icon name="camera-outline" color="warning"></ion-icon>
      <p class="text-option">ESCANEAR CÓDIGO QR<p>
    </ion-item>
  </div>

  <div>
    <ion-button  color="warning" expand="block" [routerLink]="['/home']" (click)="cerrarSesion()">
      <h4 class="salir">
        CERRAR SESIÓN
      </h4>
    </ion-button>
  </div>
</ion-content>
