
<ion-header>
  <ion-toolbar class="header-color">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class>
    <img class="logo" src="../../assets/RegistrAPP.png" alt="">
  </div>

  <div>
    <h4 class="texto-bienvenida">
      ¡BIENVENIDO, @USERNAME!
    </h4>
  </div>
  <div>
    <ion-item class="dash-option" [routerLink]="['/activate-qr']">
      <ion-icon name="add-circle-outline" color="warning"></ion-icon>
      <p class="text-option">ACTIVAR CÓDIGO QR<p>
    </ion-item>
  </div>

  <div>
    <ion-button class="salir" color="warning" expand="block">
      <h4>
        S A L I R
      </h4>
    </ion-button>
  </div>
</ion-content>
