ion-content{
    --ion-background-color: #1b3964;
}

.header-color{
    --background: #f4d139;
}

.logo{
    display:block;
    margin:auto;
}

.dash-option{
    color: #f4d139;
    padding-top: 10%;
    padding-bottom: 10%;
}

.texto-bienvenida{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color:white;
    text-align: center;
}

.text-option{
    padding-left: 5%;
}


ion-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}