
<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img class="logo" src="../../assets/RegistrAPP.png" alt="">
  </div>

  <div id="qr-sample">
    <img class="sample" id="QR-img" src="../../assets/QR SAMPLE.png" alt="">
  </div>

  <div>
    <ion-button  color="warning" expand="block" (click)="animar()">
      <h4 class="salir">
        C O M P A R T I R
      </h4>
    </ion-button>
  </div>
</ion-content>