
<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class>
    <img class="logo" src="../../assets/RegistrAPP.png" alt="">
  </div>

  <div>
    <img class="sample" src="../../assets/QR SAMPLE.png" alt="">
  </div>

  <div>
    <ion-button class="salir" color="warning" expand="block">
      <h4>
        C O M P A R T I R
      </h4>
    </ion-button>
  </div>
</ion-content>