ion-content{
    --ion-background-color: #1b3964;
}

.header-color{
    --background: #f4d139;
}

.logo{
    display:block;
    margin:auto;
}

.sample{
    width: auto;
    min-height: 206px;
    display:block;
    margin:auto;
    padding-bottom: 10%;
}

ion-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.salir {
    color: white;
    box-shadow: black;
    font-weight: 600;
  }