<ion-header>
  <ion-toolbar class="header-color">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CARD CON INICIO DE SESIÓN -->

  <ion-card color="light">
    <!-- HEADER CON LOGO DE LA APP  -->

    <ion-card-header>
      <ion-avatar class="avatar">
        <img src="../../assets/LogoApp.png" alt="Logo de la aplicación" />
      </ion-avatar>
    </ion-card-header>

    <!-- FIN HEADER  -->

    <!-- CONTENIDO CARD  -->

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
    <ion-card-content id="content">
      <!-- ITEM USUARIO  -->
      <ion-item class="usuario" mode="ios" >
        <ion-label position="floating" mode="ios" >Nombre Usuario</ion-label>
        <ion-input mode="ios"  name="inputNombre" formControlName="usuario"></ion-input>
      </ion-item>
      <!-- FIN ITEM USUARIO  -->

      <!-- ITEM CONTRASEÑA  -->
      <ion-item id="pass" mode="ios" >
        <ion-label position="floating" mode="ios" >Contraseña</ion-label>
        <ion-input type="password" mode="ios" formControlName="clave"></ion-input>
      </ion-item>
      <!-- FIN ITEM CONTRASEÑA  -->
    </ion-card-content>

    <!-- FIN CONTENIDO CARD  -->
    <!-- BOTON ENTRAR  -->
    <ion-button class="BotonIngreso" type="submit">
      <p>Entrar</p>
    </ion-button>
    </form>
    <!-- RECUPERAR CONTRASEÑA -->
    <ion-item [routerLink]="['/recovery']" mode="ios">
      <p class="EnlaceRegistro" >¿Olvidaste tu contraseña? ¡Recupérala!</p>
    </ion-item>
  </ion-card>
  <!-- FIN CARD INICIO SESIÓN  -->
</ion-content>