<ion-header>
  <ion-toolbar>
    <ion-title> RegistrAPP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CARD CON INICIO DE SESIÓN -->

  <ion-card color="light">
    <!-- HEADER CON LOGO DE LA APP  -->

    <ion-card-header>
      <ion-avatar class="avatar">
        <img src="../../assets/LogoApp.png" alt="Logo de la aplicación" />
      </ion-avatar>
    </ion-card-header>

    <!-- FIN HEADER  -->

    <!-- CONTENIDO CARD  -->

    <ion-card-content>
      <!-- ITEM USUARIO  -->
      <ion-item class="usuario">
        <ion-label position="floating">Nombre Usuario</ion-label>
        <ion-input [(ngModel)]="user.nombre"></ion-input>
      </ion-item>
      <!-- FIN ITEM USUARIO  -->

      <!-- ITEM CONTRASEÑA  -->
      <ion-item id="pass">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.clave"></ion-input>
      </ion-item>
      <ion-item class="tipoUsuario">
        <mat-radio-group  aria-label="Select an option">
          <mat-radio-button id="RadioButton1" class="radioButton" value="1">Profesor</mat-radio-button>
          <mat-radio-button id="RadioButton2" class="radioButton" value="2">Alumno</mat-radio-button>
        </mat-radio-group>
      </ion-item>
      <!-- FIN ITEM CONTRASEÑA  -->
    </ion-card-content>

    <!-- FIN CONTENIDO CARD  -->

    <ion-button class="BotonIngreso" (click)="login()">
      <p>Entrar</p>
    </ion-button>

    <!-- BOTON ENTRAR  -->

    <p class="EnlaceRegistro">
      ¿Olvidaste tu contraseña? <a href="#">¡Recupérala!</a>
    </p>
  </ion-card>

  <!-- FIN CARD INICIO SESIÓN  -->
</ion-content>
